*{
    background: #F3F5Fc;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

}

.header{
    
    width: 90%;
    margin: auto;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}
.areas{
    
    width: 82%;
    margin: auto 40px auto auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: calc(100vh - 91px - 72px);
    align-items: end;
}

.area1{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto_area1{
    border: none;
    color: #0A3271;
    margin-top: 90px;
    text-transform: lowercase;
    font-family: var(--inter);
    resize: none;
    background: none;
    border: none;
    outline: none;
    
    
}
.texto_area1::placeholder{
    color: var(--color-blue);
    
}

.area1_aviso{
    font-family: var(--inter);
    color: #22223b;
    font-size: 15px;
 

}
.area1_botones{
    display: flex;
    gap: 24px;
    margin-top: 16px;
    flex-wrap: wrap;

}

.boton_encriptador{
    background-color: #0A3271AD;
    border: 1px solid #0A3271;
    font-family: var(--inter);
    max-width:328px;
    color: white;
    width: 40%;
    height: 67px;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
    
}
.boton_encriptador:hover{
    background-color: rgba(77, 126, 190, 0.226);
    color: #9d8189;
}

.boton_desencriptador{
    border: 1px solid #0A3271;
    cursor: pointer;
    font-family: var(--inter);
    max-width:328px;
    width: 40%;
    height: 67px;
    border-radius: 24px;
    background-color: #0A3271AD;
    color: white;
    font-size: 16px;
}
.boton_desencriptador:hover{
    background-color: rgba(77, 126, 190, 0.226);
    color: #9d8189;
    
}
.boton_copiar{
    border: 1px solid #0A3271;
    display: none;
    cursor: pointer;
    font-family: var(--inter);
    max-width:328px;
    width: 100%;
    height: 67px;
    border-radius: 24px;
    
    color: #0A3271;
    font-size: 16px;

}

.boton_copiar:hover{
    background-color: rgba(77, 126, 190, 0.226);
    color: #9d8189;
}


.area2{
    font-size: 32px;
    background-color: white;
    color:#0A3821;
    height: calc(100% + 48px);
    border-radius: 24px;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
}
.mensaje_no.ajustar{
    height: 80%;
    justify-content: space-between;
    text-align: left;   
    font-weight: lighter;
}

.area2.ajustar{
    justify-content: space-between;  
}


.imagen{
    width: 100%;
}

.mensaje_no{
    background: none;
    border: none;
    outline: none;
    resize: none;
    font-family: var(--inter);
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    
}

.mensaje_deseado{
    font-family: var(--inter);
    color: var(--color-g2);
    font-size: 16px;
    text-align: center;
}

footer{
    font-size: 18px;
    bottom: 0;
    text-align: center;
}


.detras{
    
}

@media screen and ( max-width: 800px){
    .areas{
        grid-template-rows: 75% auto;
        grid-template-columns: 1fr;
        width: auto;
        margin: auto 40px; 
    }
    .area2{
        height: 100%;
    }
   
    .area1_botones{
        justify-content: center;
    }
    .botones_encriptador{
        width: 43%
    }
    .botones_desencriptador{
        width: 43%
    }
    .imagen{
        display: none;
    }
    
}

@media screen and (max-width: 500px) {
    .areas{
        margin: auto 16px;
    }
    .botones_encriptador{
        max-width: none;
        width: 100%
    }
    .botones_desencriptador{
        max-width: none;
        width: 100%
    }
}